.login-background {

}

.mat-card
{
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  border-radius: 30px;
  margin: 50px auto;
}
.logo {
  background-image: url('../../../assets/img/logo.jpg');
  background-size: cover;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

#search-component-spinner {
  display: flex;
  justify-content: center;
}

mat-card-title, mat-card-subtitle
{
  text-align: left;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
