<section>
  <div class="login-background">
    <mat-card class="login-card">
      <mat-card-header>
        <div mat-card-avatar class="logo"></div>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Connect to your account</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" name="login" matInput placeholder="Username" [(ngModel)]="loginPassword.login" required/>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="password" name="password" matInput placeholder="Password" [(ngModel)]="loginPassword.password" required/>
            </mat-form-field>
          </p>

          <p *ngIf="errorMsg" class="error">{{errorMsg}}</p>
          <div id="search-component-spinner" *ngIf="loginStarted">
            <mat-spinner></mat-spinner>
          </div>
          <div class="button">
            <button type="submit" [disabled]="!loginForm.form.valid"mat-button>Log in</button>
          </div>
          <select *ngIf="connectors?.length > 1" name="connector" [(ngModel)]="loginPassword.connector" required>
            <option *ngFor="let connector of connectors" [ngValue]="connector.id">{{connector.name}}</option>
          </select>
          <a routerLink="/password">Change password</a>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</section>


