.buttonMain
{
  margin-left: 10px;
  background-color: transparent;
  color: white;
  border-style: none;
}

.buttonMain>button
{
margin-left: 20px;
transform: scale(1.2);
}

.mat-button:hover
{
    color: #AB47BC;
    font-weight: bold;
}
