<section>
  <div class="login-background">
    <mat-card class="login-card">
      <mat-card-content>
    <form (submit)="submit()" #passwordForm="ngForm">
      <p>
        <mat-form-field>
          <input matInput type="text" name="login" placeholder="Username" [(ngModel)]="changePassword.login" required/>
        </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="changePassword.password" required/>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field>
      <input matInput type="password" name="newPassword" placeholder="New password" [(ngModel)]="changePassword.newPassword" required/>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field>
      <input matInput type="password" name="newPasswordConfirmation" placeholder="Confirm password"
            [(ngModel)]="changePassword.newPasswordConfirmation" required/>
        </mat-form-field>
      </p>
        <select *ngIf="connectors?.length > 1" name="connector" [(ngModel)]="changePassword.connector" required>
            <option *ngFor="let connector of connectors" [ngValue]="connector.id">{{connector.name}}</option>
        </select>
        <div *ngIf="errorMsg" class="error">{{errorMsg}}</div>
        <div class="actions">
            <button type="button" routerLink="/home" mat-button>Cancel</button>
            <button type="submit" [disabled]="!passwordForm.form.valid" mat-button>Update</button>
        </div>
    </form>
        </mat-card-content>
    </mat-card>
  </div>
</section>
