<section>
    <form (submit)="submit()" #passwordForm="ngForm">
        <div *ngIf="errorMsg" class="error">{{errorMsg}}</div>
        <input type="text" name="login" placeholder="Username" [(ngModel)]="changePassword.login" required/>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="changePassword.password" required/>
        <input type="password" name="newPassword" placeholder="New password" [(ngModel)]="changePassword.newPassword" required/>
        <input type="password" name="newPasswordConfirmation" placeholder="Confirm password"
            [(ngModel)]="changePassword.newPasswordConfirmation" required/>
        <select *ngIf="connectors?.length > 1" name="connector" [(ngModel)]="changePassword.connector" required>
            <option *ngFor="let connector of connectors" [ngValue]="connector.id">{{connector.name}}</option>
        </select>
        <div class="actions">
            <button type="button" routerLink="/login">Cancel</button>
            <button type="submit" [disabled]="!passwordForm.form.valid">Update</button>
        </div>
    </form>
</section>
