<mat-toolbar style=" height: 95px; position: fixed; z-index: 2; background-color: rgba(0, 0, 0, 0.8);">
  <mat-toolbar-row>
    <div fxShow="true" fxFlex fxLayout>
      <div fxFlex fxLayoutAlign="flex-start center">
      </div>
      <div fxFlex fxLayoutAlign="center center">
        <img routerLink="/" class="imgMain" src="../../assets/img/logo.jpg">
        <h1 class="bgTitle" style="transform: scale(1.2); margin-right: 40px;  margin-left: 20px; color: white;" routerLink="/">
          <app-titlecase-pipe></app-titlecase-pipe>
        </h1>
      </div>
      <div fxFlex fxLayoutAlign="flex-end center">
        <div class="abonner">
          <button type="button" routerLink="/subscription" mat-raised-button>S'abonner</button>
        </div>
        <div class="loginButton">
          <button style="margin-left: 20px; " type="button" (click)=onLoginClicked() mat-raised-button>Se connecter
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div fxShow="true" fxFlex fxLayout>
      <div fxFlex fxLayoutAlign="center center">
        <div class="buttonMain">
          <button *ngIf="router.url !== '/about'" type="button" routerLink="/about" mat-button>Découvrir</button>
          <button *ngIf="router.url === '/about'" style="color:#AB47BC; font-weight: bold;" type="button" routerLink="/about" mat-button>Découvrir</button>
          <button *ngIf="router.url !== '/subscription'" type="button" routerLink="/subscription" mat-button>Nos offres</button>
          <button *ngIf="router.url === '/subscription'" style="color:#AB47BC; font-weight: bold;" type="button" routerLink="/subscription" mat-button>Nos offres</button>
          <button *ngIf="router.url !== '/contact'" type="button" routerLink="/contact" mat-button>Nous contacter</button>
          <button *ngIf="router.url === '/contact'" style="color:#AB47BC; font-weight: bold;" type="button" routerLink="/contact" mat-button>Nous contacter</button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
