<h2 mat-dialog-title>{{data.dialogTitle}}</h2>
<mat-dialog-content>
  <form class="form" (ngSubmit)="onSubmit()" #dialogForm="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Title" [(ngModel)]="note.title" id="title"
             name="firstname" required>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Date" [(ngModel)]="note.date" id="date" name="date" required>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Description" [(ngModel)]="note.description" id="description" name="description" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="dialogForm.invalid">Save</button>
  <button mat-button (click)="close()" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
