<div class="dashboard-page" style="height: 80vh;">
  <app-searchbar (patientOutput)="onRequestPathologies($event)"></app-searchbar>
  <div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      <mat-card>
        <mat-card-content>
          <h2 *ngIf="patient === undefined">Toutes les pathologies </h2>
          <h2 *ngIf="patient !== undefined">Toutes les pathologies de {{patient.displayedName}} </h2>
          <button style="float: right;" [disabled]="patient === undefined" class="add-pathology" color="primary" type="button" (click)="openDialog()" mat-fab>
            <mat-icon>note_add</mat-icon>
          </button>
          <table mat-table [dataSource]="dataSource">
           < <ng-container matColumnDef="pathologyType">
              <th mat-header-cell *matHeaderCellDef> Type de pathologie</th>
              <td mat-cell *matCellDef="let element"> {{element.pathologyType.name}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nom</th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef> Date de début </th>
              <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="lastModifcation">
              <th mat-header-cell *matHeaderCellDef> Dernière modification</th>
              <td mat-cell *matCellDef="let element"> {{element.lastModifcation | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef> Traité</th>
              <td mat-cell *matCellDef="let element">
              <mat-checkbox color="primary" [(ngModel)]="element.active" [checked]="element.active"></mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="launch">
              <th mat-header-cell *matHeaderCellDef> Lancer la consultation</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="launch(element)">
                  <mat-icon>launch</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
