<h2 mat-dialog-title>{{data.dialogTitle}}</h2>
<mat-dialog-content>
  <form class="form" (ngSubmit)="onSubmit()" #dialogForm="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Nom" [(ngModel)]="pathologyType.name" id="name"
             name="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Template</mat-label>
      <select [(ngModel)]="pathologyType.template.name" id="template" name="template" matNativeControl required>
        <option>{{pathologyType.template.name}}</option>
        <option *ngFor="let noteTemplate of noteTemplates; let index = index;">{{noteTemplate.name}}</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Observation" [(ngModel)]="pathologyType.observation" id="observation" name="observation" required>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Rareté" [(ngModel)]="pathologyType.level" id="level" name="level" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="dialogForm.invalid">Sauvegarder</button>
  <button mat-button (click)="close()" mat-dialog-close>Annuler</button>
</mat-dialog-actions>
