

.abonner>button:hover
{
    background-color: #6A1B9A;
}
.loginButton>button
{
 background-color: transparent;
 color: white;
}

.abonner>button
{
  background-color: #AA00FF;
  color: white;
}

.loginButton>button:hover
{
  background-color: rgba(255, 255, 255, .4);
}

.imgMain
{
 border-radius: 30px;
 max-width: 10% !important;
}
