<div class="page-about">
  <app-header></app-header>
    <div style="margin-top: 100px;" class="bgcontainer">
      <app-carousel></app-carousel>
      <div fxLayout fxLayoutAlign="center start" fxLayoutGap="20px">
        <div>
          <mat-card>
            <mat-card-content>
              <mat-icon style="font-size: 60px;" [inline]="true">group</mat-icon>
              <h1>Pour un suivi plus simple de ses patients</h1>
              <h3>Les notes médicales font partie intégrante des cabinets médicaux que l'informatique peut beaucoup
                aidés.
                En effet, la croissance de la population nécessite la mise en place d'une gestion face
                et rapide.</h3>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-content>
              <mat-icon style="font-size: 60px;" [inline]="true">home</mat-icon>
              <h1>La French Tech, 100% engagée face aux épidémies</h1>
              <h3>Nous sommes un mouvement d’entrepreneurs technologiques toulousains,
                associé aux dynamiques territoriales en faveur des startups et à l’écosystème de l’innovation.</h3>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-content>
              <mat-icon style="font-size: 60px;" [inline]="true">verified_user</mat-icon>
              <h1>Vos patients ont le contrôle de leurs données de santé</h1>
              <h3>Le respect de la vie privée est l’une des valeurs essentielles de Médinotes.
                Nous respectons des engagements forts pour protéger les données de santé de vos patients en
                accord avec la réglementation française et européenne (RGPD et LIL).</h3>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
</div>
