<div class="bg">
<app-header></app-header>
  <div class="bgca">
    <app-carousel></app-carousel>
  </div>
<div class="bgcontainer" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card class="card">
      <mat-card-content>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Section Heading Area -->
              <div class="section-heading text-center">
                <h2>Pourquoi MédiNotes ? </h2>
                <div class="line-shape"></div>
                <h2>Travaillons simplement pour un suivi plus simple de ses patients </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
              <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                <div class="single-icon">
                  <i class="ti-mobile" aria-hidden="true"></i>
                </div>
                <h4>Simple d'utilisation</h4>
                <p>Nous avons développé un outil complexe pour faciliter ensuite votre travail</p>
              </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
              <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                <div class="single-icon">
                  <i class="ti-ruler-pencil" aria-hidden="true"></i>
                </div>
                <h4>Made by the the French-Tech</h4>
                <p>MédiNotes est un logiciel 100% Français, nous garantissons la sécurité de vos données</p>
              </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
              <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                <div class="single-icon">
                  <i class="ti-settings" aria-hidden="true"></i>
                </div>
                <h4>Une équipe à l'écoute</h4>
                <p>Nous sommes là pour vous et grâce à vous. Merci de vos retours</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
