$white: #fff;
$black: #000;
$primary: #4e596f;
$secondary: #FFA500;
$background: #0e284c;
$undefined: #9E9FA0;
$info: #2465A5;
$success: #0C7F16;
$suspicious: #F9D507;
$warning: #F78408;
$error: #C90005;
$dark-blue: #0c587f;
