<div class="page-subscription">
  <app-header></app-header>
  <div class="bgcontainer">
    <div style="margin-top: 70px;" fxLayout fxLayoutAlign="center start" fxLayoutGap="20px">
      <div>
        <mat-card fxLayout="column" fxFlex.md="0 1 calc(100% - 20px)" fxFlex.sm="0 1 calc(100% - 20px)" fxFlex.xs="100">
          <h1>Pro</h1>
          <img mat-card-image src="../../../assets/img/carousel_1.jpg">
          <mat-card-content fxFlex>
            <h2> 19,90€/mois - sans engagement</h2>
          </mat-card-content>
          <mat-card-actions fxFlexAlign="center" align="center">
            <button type="button" routerLink="/contact" mat-button>Nous contacter</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <mat-card fxLayout="column" fxFlex.md="0 1 calc(100% - 20px)" fxFlex.sm="0 1 calc(100% - 20px)" fxFlex.xs="100">
          <h1>Chercheur</h1>
          <img mat-card-image src="../../../assets/img/carousel_2.jpg">
          <mat-card-content fxFlex>
            <h2> 39,90€/mois - 12 mois d'engagement</h2>
          </mat-card-content>
          <mat-card-actions fxFlexAlign="center" align="center">
            <button type="button" routerLink="/contact" mat-button>Nous contacter</button>
          </mat-card-actions>
        </mat-card>

      </div>
      <div>
        <mat-card fxLayout="column" fxFlex.md="0 1 calc(100% - 20px)" fxFlex.sm="0 1 calc(100% - 20px)" fxFlex.xs="100">
          <h1>Institution</h1>
          <img mat-card-image src="../../../assets/img/carousel_4.jpg">
          <mat-card-content fxFlex>
            <h2> 49,90€/mois - 12 mois d'engagement</h2>
          </mat-card-content>
          <mat-card-actions fxFlexAlign="center" align="center">
            <button type="button" routerLink="/contact" mat-button>Nous contacter</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
