.inputField
{

}

.btnFind
{
  margin-left: 10px;
  margin-right: 10px;
}

.mat-card-content
{
  display: inline-block;
}

.bgsearch
{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
