.logo {
  margin-bottom: 0%;
  margin-top: 10%;
}

.bgadministration .bg-container {
  background: white;
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
}
#chooser-administration-card
{
  cursor: pointer;
  height: 200px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  position: relative;
  margin-top: -220px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#chooser-kinesitherapie-card, #chooser-ostheopathie-card{
  cursor: pointer;
  height: 200px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#chooser-administration-card {
  background-image: url(../../images/administration.jpg);
}

#chooser-kinesitherapie-card {
  background-image: url(../../images/kinesitherapie.jpg);
}

#chooser-ostheopathie-card {
  background-image: url(../../images/ostheopathie.jpg);
}

.filters-containter-kinesitherapie {
  min-height: 100vh;
  background-image: url(../../images/kinesitherapie.jpg);
  background-size: cover;
  background-position: center;
}

.filters-containter-administration {
  min-height: 100vh;
  background-image: url(../../images/administration.jpg);
  background-size: cover;
  background-position: center;
}

.filters-containter-ostheopathie {
  min-height: 100vh;
  background-image: url(../../images/ostheopathie.jpg);
  background-size: cover;
  background-position: center;
}

#filters-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#chooser-administration-card, #chooser-kinesitherapie-card, #chooser-ostheopathie-card, #chooser-ostheopathie-card:hover, .chooser-card-text {
  transition: all .2s ease-in-out;
}

#chooser-administration-card:hover, #chooser-kinesitherapie-card:hover, #chooser-ostheopathie-card:hover, .chooser-card-active {
  transform: scale(1.05);
}

#chooser-administration-card:hover .chooser-card-text,
#chooser-kinesitherapie-card:hover .chooser-card-text,
#chooser-ostheopathie-card:hover .chooser-card-text,
.chooser-card-active .chooser-card-text {

  background-color: #263b6ee6;

}

.chooser-card-title {
  font-size: 45px;
  -webkit-transform: scale(1, 1.05);
  -ms-transform: scale(1, 1.05);
  -o-transform: scale(1, 1.05);
  transform: scale(1, 1.05);
  margin-bottom: 0px;
  color: white;
  line-height: 45px;
  margin-top: 5px;
}

.chooser-card-subtitle {
  font-size: 17.5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

.chooser-card-text {
  position: absolute;
  bottom: 0;
  background-color: #0009;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  /* For mobile phones: */
  .chooser-card-title {
    font-size: 35px;
    line-height: 35px;
  }

  #chooser-administration-card:hover, #chooser-ostheopathie-card:hover, #chooser-kinesitherapie-card:hover, .chooser-card-active {
    transform: scale(1.05);
  }
}

.chooser-heading {
  font-size: 34px;
  text-align: center;
}

.mat-form-field {
  width: 100% !important;
}

.input {
  max-width: inherit !important;
}

.container {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.item {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  opacity: 0.8;
}

.item:hover {
  opacity: 1;
}

.item img {
  max-height: 100px;
  max-width:120px;
}
