<section id="landing-page">
<div class="bgadministration" id="start">
    <div id="chooser-administration-card" [ngClass]="{'chooser-card-active': chooserSelectedAdministration }"
         (click)="chooserSelect('administration')" [routerLink]="[{ outlets: { sub: ['administration'] } }]">
      <div class="chooser-card-text">
        <p class="chooser-card-title">Administration</p>
        <p class="chooser-card-subtitle">Gestion des patients</p>
      </div>
    </div>
    <div id="chooser-kinesitherapie-card" [ngClass]="{'chooser-card-active': chooserSelectedKinesitherapie }"
         (click)="chooserSelect('kinesitherapie')" routerLink="/explorer">
      <div class="chooser-card-text">
        <p class="chooser-card-title">Kinésithérapie</p>
        <p class="chooser-card-subtitle">Lancer une consultation ! </p>
      </div>
    </div>
    <div id="chooser-ostheopathie-card" [ngClass]="{'chooser-card-active': chooserSelectedOstheopathie }"
         (click)="chooserSelect('ostheopathie')" [routerLink]="[{ outlets: { sub: ['ostheopathie'] } }]">
      <div class="chooser-card-text">
        <p class="chooser-card-title">Osthéopathie</p>
        <p class="chooser-card-subtitle">Lancer une consultation ! </p>
      </div>
    </div>
</div>
<div id="filters-container" *ngIf="chooserSelectedAdministration || chooserSelectedKinesitherapie || chooserSelectedOstheopathie" style="position: relative;">
  <router-outlet name="sub"></router-outlet>
</div>
</section>
