.form {
  width: 500px;
}

.full-width {
  width: 100%;
}

#content {
  padding: 20px;


}

.mat-card
{
  width: 50%;
  margin: 0 auto;
}

.bg
 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url(../../../assets/img/comp_cof_overlay.jpg) no-repeat center center fixed;
  overflow: auto;
   max-width: 100%;
   width: 100%;
   min-height: 100vh !important;
}

