<div class="home-page">
  <app-header></app-header>
  <div style="margin-top: 63px;">
    <app-header-main ></app-header-main>
  </div>
  <div class="bgTitle">
    <div class="mainTitle">
      <h1 class="title">Suivre ses patients, agir contre les épidémies <strong>Médinotes</strong></h1>
      <button mat-raised-button routerLink="/subscription">Profiter du 1er mois offert</button>
      <h3 class="condition">Puis 19,90€/mois - Sans engagement. Résilier facilement à tout moment.</h3>
    </div>
  </div>
</div>
