<section class="home-page">
  <app-header></app-header>
  <div class="container">
    <div class="mainTitle">
      <div class="title-subtitle-div">
        <div class="animatedLeft fadeInLeft">
          <h1 class="title-thin">Suivre ses patients</h1>
        </div>
        <div class="animatedRight fadeInRight">
          <h1 class="subtitle-landing">Agir contre les épidémies <strong>Médinotes</strong></h1>
        </div>
        <div class="animatedIn fadeIn">
          <ul class="actions">
            <button mat-raised-button routerLink="/subscription">Profiter du 1er mois offert</button>
            <h3 class="condition">Puis 19,90€/mois - Sans engagement. Résilier facilement à tout moment.</h3>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

