.home-page
 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url(../../../assets/img/landing2.jpg) no-repeat center center fixed;
  overflow: auto;
  max-width: 100%;
   width: 100%;
   min-height: 100vh !important;
}

.mainTitle
 {
   margin-top: 300px;
   display: inline-block;
   color: white;
   position: relative;
   left: 30%;
   text-align: center;
 }

.mainTitle>h1
{
    color: white;
}

.mainTitle>h3
{
 margin-top: 10px;
  color: #F5F5F5;
}

.mainTitle>button
{
  background-color: #AA00FF;
  color: white;
  transform: scale(1.2);
}

.mainTitle>button:hover
{
    background-color: #AB47BC;
}

