<div class="header-bilan-bg" fxLayout="row">
  <div class="header-bilan">
    <mat-form-field>
      <label>Date de création </label>
      <input matInput [(value)]="formatedCreatedAt"
             [(ngModel)]="formatedCreatedAt"
             name="date"
             (input)="onChange()"
             type="text"/>
    </mat-form-field>
    <mat-form-field>
      <label>Type de pathologie</label>
      <mat-select [(ngModel)]="pathologyTypeName"
                  [value]="pathologyTypeName"
                  (selectionChange)="onChange()">
        <mat-option *ngFor="let pathologyType of pathologyTypes; let index = index;" [value]="pathologyType.name">
          {{pathologyType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <label>Localisation</label>
      <mat-select [(ngModel)]="localisationName"
                  [value]="localisationName"
                  (selectionChange)="onLocalisationChanged($event.value)">
        <mat-option *ngFor="let localisation of localisations;" [value]="localisation.name">
          {{localisation.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <label>Sous localisation</label>
      <input [readonly]="true" type="text" matInput
             [(ngModel)]="sousLocalisationName" id="sousLocalisation"
             name="sousLocalisation">
    </mat-form-field>
    <mat-form-field>
      <label>Prescripteur</label>
      <mat-select [(ngModel)]="prescripteurName"
                  [value]="prescripteurName"
                  (selectionChange)="onChange()">
        <mat-option *ngFor="let prescripteur of prescripteurs; let index = index;" [value]="prescripteur.name">
          {{prescripteur.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button style="margin-left: 30px;" *ngIf="!isSaved()" color="primary" (click)="save()" mat-mini-fab>
    <mat-icon>save</mat-icon>
  </button>
</div>
