
.header-bilan
{
  background-color: rgba(0, 0, 0, .05);
  border-style: solid;
  border-radius: 5px;
  border-color: #EEEEEE;
  margin-bottom: 5px;
}

.bilan-articulaire
{
  border-style: solid;
  border-radius: 5px;
  border-color: #EEEEEE;
  margin-bottom: 5px;
}

.bilan-musculaire
{
  border-style: solid;
  border-radius: 5px;
  border-color: #EEEEEE;
  margin-bottom: 5px;
}

.bilan-algique
{
  border-style: solid;
  border-radius: 5px;
  border-color: #EEEEEE;
  margin-bottom: 5px;
}

.ba-container
{
  max-height: 250px;
  overflow: auto;
  width: 70%;
  margin-right: 10px;
}

.bm-container
{
  max-height: 250px;
  overflow: auto;
  width: 70%;
  margin-right: 10px;
}


