<div class="consulation-page" style="height: 80vh;">
  <div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{pathology.name}}
          </mat-card-title>
          <mat-card-subtitle>
            {{patient.displayedName}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
